.error-box {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-color: #ff0000;
    -fx-padding: 5px;
    -fx-alignment: center;
}

.background {
    -fx-background-radius: 10;
    -fx-background-color: black;
    -fx-border-radius: 10;
    -fx-border-width: 5;
}